# Server Configuration
PORT=3001
MONGODB_URI=mongodb://127.0.0.1:27017/forexpro
WEBHOOK_SECRET=exness-pro-secret-2026

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Authentication & Google OAuth
JWT_SECRET=forexpro-jwt-secret-key-2026
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_PROJECT_ID=
